<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>729713908625-p9nr1mijfren3loj2gevglebo676kk5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729713908625-p9nr1mijfren3loj2gevglebo676kk5o</string>
	<key>API_KEY</key>
	<string>AIzaSyBtkLsblIuUIhpBw4diSWJZF7VRav4tYR0</string>
	<key>GCM_SENDER_ID</key>
	<string>729713908625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sweetcow.sweetcow</string>
	<key>PROJECT_ID</key>
	<string>sweet-cow-df10d</string>
	<key>STORAGE_BUCKET</key>
	<string>sweet-cow-df10d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729713908625:ios:9b09c2a3bf93cd99</string>
	<key>DATABASE_URL</key>
	<string>https://sweet-cow-df10d.firebaseio.com</string>
</dict>
</plist>